# Project exclude paths
/.gradle/
/Connect Four/task/build/
/Connect Four/task/out/
/Connect Four/task/out/production/classes/
/Topics/For loop and lists/Circular shift/out/
/Topics/For loop and lists/Circular shift/out/production/classes/
/Topics/For loop and lists/Count occurrences/out/
/Topics/For loop and lists/Count occurrences/out/production/classes/
/Topics/For loop and lists/Individual taxes/out/
/Topics/For loop and lists/Individual taxes/out/production/classes/
/Topics/For loop and lists/Number in a set/out/
/Topics/For loop and lists/Number in a set/out/production/classes/
/Topics/For loop and lists/Right Rotation/out/
/Topics/For loop and lists/Right Rotation/out/production/classes/
/Topics/For loop and lists/Triples/out/
/Topics/For loop and lists/Triples/out/production/classes/
/Topics/For loop and ranges/Check the order/out/
/Topics/For loop and ranges/Check the order/out/production/classes/
/Topics/For loop and ranges/The longest sequence/out/
/Topics/For loop and ranges/The longest sequence/out/production/classes/
/Topics/For loop and ranges/The maximum pairwise product/out/
/Topics/For loop and ranges/The maximum pairwise product/out/production/classes/
/Topics/Getting substrings/Case insensitive/out/
/Topics/Getting substrings/Case insensitive/out/production/classes/
/Topics/Getting substrings/Exchange/out/
/Topics/Getting substrings/Exchange/out/production/classes/
/Topics/Getting substrings/Theory/out/
/Topics/Getting substrings/Theory/out/production/classes/
/Topics/Processing strings/Convert a date/out/
/Topics/Processing strings/Convert a date/out/production/classes/
/Topics/Processing strings/Create an euphonious word/out/
/Topics/Processing strings/Create an euphonious word/out/production/classes/
/Topics/Processing strings/Double characters/out/
/Topics/Processing strings/Double characters/out/production/classes/
/Topics/Processing strings/Lucky number/out/
/Topics/Processing strings/Lucky number/out/production/classes/
/Topics/Processing strings/Palindrome/out/
/Topics/Processing strings/Palindrome/out/production/classes/
/Topics/Processing strings/Parse url/out/
/Topics/Processing strings/Parse url/out/production/classes/
/Topics/Processing strings/The longest word/out/
/Topics/Processing strings/The longest word/out/production/classes/
/Topics/Processing strings/The lucky ticket/out/
/Topics/Processing strings/The lucky ticket/out/production/classes/
/Topics/Regexps/Help the teacher/out/
/Topics/Regexps/Help the teacher/out/production/classes/
/Topics/Regexps/Theory/out/
/Topics/Regexps/Theory/out/production/classes/
/Topics/Work with MutableLists/Adding lists/out/
/Topics/Work with MutableLists/Adding lists/out/production/classes/
/Topics/Work with MutableLists/Guard On The Gate/out/
/Topics/Work with MutableLists/Guard On The Gate/out/production/classes/
/Topics/Work with MutableLists/Playing with numbers/out/
/Topics/Work with MutableLists/Playing with numbers/out/production/classes/